{% extends 'Users/base.html' %} {% block content %} {% if flag %}
<h1>{{course.code}}</h1>
<h3>{{course.instructor}}</h3>
<p>{{course.description}}</p>

<h2>Announcements</h2>
<ul>
  {% for announcement in announcements %}
  <li>
    <h3>
      <a href="{% url 'announcement-detail' announcement.id %}"
        >{{announcement.title}}</a
      >
    </h3>
    <h5>{{announcement.txt}}</h5>
  </li>
  {% endfor %}
</ul>
<h2>Documents</h2>
<ul>
  {% for doc in documents %}
  <li><a href="{{doc.doc_url}}">{{doc.title}}</a></li>
  {% endfor %}
</ul>
{% else %}
<h3>You might not be registered for this course</h3>
{% endif %} {% endblock content %}
